body {
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 60px;
}

.card {
    min-width: 50%;
    max-width: 500px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate( -50%);
}
#charDisplay {
    font-size: 24px;
}

#checkbox-container {
    margin-top: 20px;
}

.form-check-input {
    color: red;
}
.new-password {
    margin-top: 20px;
    min-height: 80px;
}
#new-password-display {
    min-height: 80px;
    font-size: larger;
    text-align: center;
    padding-top: 10px;
}

.textarea-hidden {
    height: 0px;
    width: 0px;
    opacity: 0;
}
.alert {
    min-width: 50%;
    max-width: 500px;
    left: 50%;
    transform: translate( -50%);
    margin-top: 10px;
}
@media screen and (max-width: 600px){
    body {
        padding: 40px 20px 20px 20px;
    }
    .card {
        margin: 0 0 0 0; 
    }
    #new-password-display {
        text-align: start;
    }
    .new-password {
        margin-top: 10px;
    }
}