

body {
    text-align: center;
    padding: 60px;
}


.new-password {
    margin-top: 20px;
    min-height: 80px;
}

#new-password-display {
    min-height: 80px;
    font-size: larger;
    text-align: center;
    padding-top: 10px;
}

