body {
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 120px 60px 60px 60px;
}

.pass-container {
    min-width: 50%;
    max-width: 400px;
    height: 500px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate( -50%);
    padding: 40px;
    box-shadow: 1px 1px 3px 3px grey;
}
.pass-header {
    background-color: honeydew;
    font-size: 2em;
    height: 20%;
}
.pass-body {
    background-color: chocolate;
    font-size: 1em;
    height: 70%;
    /* margin: 40px 0px 40px 0px; */
}
.pass-footer {
    background-color: lavender;
    height: 10%
}

.checkmark {
    display: block;
    width: 50px;
    height: 50px;
    background-color: seagreen;
    color: rgb(214, 104, 25);
}

.form-check {
    margin-bottom: 10px;
}
.form-check-input {
    height: 30px;
    width: 30px;
}
.form-check input:checked ~ .checkbox {
    background-color: salmon;
}

.form-check-label::after{
    background-color: salmon;

}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }





.card {
    min-width: 50%;
    max-width: 500px;
    display: inline-block;
    /* margin: 0% 25% 0% 25%; */
    /* position: absolute; */
    left: 50%;
    transform: translate( -50%);

}
.new-password {
    margin-top: 20px;
    min-height: 80px;
}
#new-password-display {
    min-height: 80px;
    font-size: larger;
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 600px){
    body {
        padding: 40px 20px 20px 20px;
    }
    .card {
        margin: 0 0 0 0; 
    }
    #new-password-display {
        text-align: start;
    }
    .new-password {
        margin-top: 10px;
    }
}